/* Importing google font */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* Setting universal selector to apply this to all the content */

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Styling container and panels */

.container {
  display: flex;  /* This makes any children show up horizontally in a row*/
  width: 60vw;
}

.panel {
  background-size: cover 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;  /* This makes panel edges rounded */
  color: white;
  cursor: pointer;
  flex: 0.3;  /* This will make all the panels even */
  margin: 5px;
  position: relative; 
  transition: flex 0.7s ease-in;  
}

.panel h3 {
  background-color:#333333;
  border-radius: 15px;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;  /* This will make font invisible if its not the active panel*/
}

.panel.active {
  flex: 1;  /* This will make the active panel wider*/
}

.panel.active h3 {
  opacity: 1;  /* This will make font visible on an active panel*/
  transition: opacity 0.3s ease-in 0.6s;
}

/* This will make the site responsive so that if the screen is small it'll show 3 panels not 5*/
@media (max-width:500px) {
  .container{
    width: 100vw;
  }

  .panel:nth-of-type(4), 
  .panel:nth-of-type(5) {
    display: none;
  }
}